@font-face {
    font-family: "barlow";
    src: url("/fonts/Barlow-SemiBold.ttf");
    font-family: "lato";
    src: url("/fonts/Lato-Regular.ttf");
    font-family: "merriweather";
    src: url("/fonts/Merriweather-Regular.ttf");
}

/*variables de entorno*/
:root {
    --morazul: #0E0223;
    --verde: #0A2E35;
    --manzana: #A1C518;
    --naranja: #F8AB1B;
    --fresa: #E20613;
    --blanco: #fefcfb;
    --logotipo: 'Barlow';
    --titulos: 'Merriweather';
    --parrafos: 'lato';
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--morazul);
    margin: 0px;
    padding: 0px;
}

/* Estilos Globales */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titulos);
}

p,
a {
    font-family: var(--parrafos);
}

/* BOTONES */
.custom_dark-btn {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: 145px;
    outline: none;
    color: white;
    border-radius: 5px;
    background-color: var(--morazul) !important;
}

.custom_dark-btn:hover {
    color: var(--morazul);
    background-color: var(--manzana) !important;
    font-weight: bold;
}

/* NAVBAR */
.container-fluid {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    font-size: 1.2rem;
    color: var(--morazul);
}

.navbar-brand img {
    width: 150px;
}

nav a {
    color: var(--morazul) !important;
    text-decoration: none;
}

nav a:hover {
    background: ghostwhite;
}

nav a.active {
    color: var(--verde) !important;
    font-weight: bold !important;
}

.fa-shopping-bag,
.fa-user {
    font-size: 1.5rem !important;
    color: var(--morazul);
}

.fa-shopping-bag:hover,
.fa-user:hover {
    color: var(--manzana);
}

.position-absolute {
    font-size: 0.9rem;
}

/** CAROUSEL **/
.carousel {
    width: 100%;
    height: 600px;
    position: relative;
}

.carousel-inner {
    height: 100%;
    position: relative;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    object-position: center !important;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}

.carousel-inner,
.carousel-item {
    height: 100%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.d-none {
    display: none !important;
}

.d-md-block {
    display: block !important;
}

/*** Banner Section Start ***/
.banner .banner-btn:hover {
    background: var(--bs-primary);
}

/*** Banner Section End ***/

/** ABOUT **/
.about {
    padding-top: 90px;
    padding-bottom: 70PX;
    display: flex;
    justify-content: center;
}

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img {
    display: flex;
}

.about_img img {
    max-height: 420px;
    width: auto;
    height: 100%;
}

.about .about_img figure {
    margin: 0;
    height: 100%;
}

.about .titlepage {
    position: relative;
    border: var(--manzana) solid 2px;
    border-radius: 10px;
    padding: 40px 40px;
    z-index: 1;
    background: white;
    margin-right: 40px;
}

.about .titlepage h2 {
    font-weight: bold;
}

.about .titlepage p {
    color: var(--morazul);
    font-size: 17px;
    line-height: 30px;
    padding-top: 20px;
}

.about .d-flex {
    margin-top: 24px;
}

/* CARD */
.servicios {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 90px;
    text-align: center;
    color: var(--morazul);
}

.container-card {
    width: 100%;
    max-width: 110rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card {
    width: 100%;
    margin: 1rem;
    border-radius: 0.6rem;
    overflow: hidden;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: pointer;
    border: 2px solid var(--manzana);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    font-size: 20px;
    margin: 0 0 8px 0;
}

.card h3 {
    font-size: 16px;
    color: #555;
    margin: 0 0 8px 0;
}

.card p {
    font-size: 14px;
    color: #777;
    margin: 0;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    padding: 2rem;
    transition: transform 0.5s ease;
}

.card img:hover {
    transform: scale(1.2);
}

.descrip-card {
    padding: 15px;
    text-align: center;
    font-weight: var(--parrafos);
}

.descrip-card h3 {
    margin-bottom: 15px;
    color: var(--verde);
}

.descrip-card p {
    line-height: 1.8rem;
    color: var(--verde);
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.descrip-card a {
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--blanco);
    border: 1px solid var(--naranja);
    border-radius: .5rem;
    background-color: var(--morazul);
    margin-bottom: .5rem;
}

/** BLOG **/
.blog {
    padding-top: 90px;
}

.blog .container-fluid {
    padding: 45px;
}

.blog .blog_img figure img {
    width: 100%;
    height: 100%;
    padding: 40px;
}

.blog .titlepageH {
    text-align: center;
    padding-bottom: 45px;
}

.clog .titlepageH p {
    color: var(--morazul);
    font-size: 17px;
    line-height: 29px;
    padding-top: 10px;
}

.blog .max_width {
    text-align: left;
    background: var(--morazul);
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    border-radius: 10px;
}

.blog .titlepage {
    max-width: 500px;
    width: 100%;
    height: 100%;
    float: left;
}

.blog .titlepage h2 {
    color: var(--blanco);
    border-bottom: greenyellow solid 1px;
    padding-bottom: 10px;
    float: left;
    clear: both;
}

.blog .titlepage p {
    color: var(--blanco) !important;
    line-height: 30px;
    padding-top: 20px;
    width: 100%;
    display: inline-block;
}

.blog .titlepage .read_more {
    border-radius: 5px;
    color: white;
    background-color: var(--morazul);
    border: var(--manzana) 2px solid;
    padding: 8px 40px;
    text-transform: uppercase;
}

.blog .titlepage .read_more:hover {
    background-color: var(--manzana);
    color: var(--morazul);
    font-weight: bold;
    border: none;
}

/* blog section */
.blog-slide-text {
    padding-top: 90px;
}

/** COMENTARIOS **/
.clients .carousel {
    width: 100%;
    height: 320px;
    position: relative;
}

.clients .carousel-inner {
    height: 100%;
    position: relative;
}

.clients {
    padding-top: 90px;
    padding-bottom: 70px;
}

.clients .container .carousel-item {
    max-height: 420px;
}

.clients .titlepage {
    text-align: center;
    padding-bottom: 45px;
}

.clients .titlepage p {
    color: var(--morazul);
    font-size: 17px;
    line-height: 29px;
    padding-top: 10px;
}

.clients_box h3 {
    color: var(--verde);
    font-size: 26px;
    line-height: 30px;
    padding-top: 23px;
    font-weight: 600;
}

.clients_box p {
    color: var(--morazul);
    font-size: 17px;
    line-height: 30px;
}

.clients_box {
    border: var(--manzana) solid 2px;
    padding: 40px;
    float: left;
    text-align: left;
    margin-left: 89px;
    border-radius: 10px;
}

.clients_box figure {
    margin: 0;
    float: left;
    margin-left: -102px;
    padding-right: 30px;
}

.clients_box figure img {
    border-radius: 10px;
}

#myCarousel .carousel-indicators {
    bottom: -70px;
}

#myCarousel .carousel-indicators li {
    width: 20px;
    height: auto;
    border-radius: 20px;
}

#myCarousel .carousel-indicators .active {
    background: gray;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
    display: none;
}

/** CONTACT **/
.contact_section {
    background-image: url(../img/orange-dish.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.contact_section form {
    border: 2px solid var(--manzana);
    border-radius: 10px;
    padding: 40px;
}

.contact_section input {
    border: none;
    outline: none;
    background-color: #f0ffb6;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.contact_section textarea {
    border: none;
    outline: none;
    background-color: #f0ffb6;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.contact_form-container button {
    border-radius: 5px;
    background-color: var(--morazul);
    color: white;
    padding: 8px 40px;
    text-transform: uppercase;
}

.contact_form-container button:hover {
    background-color: var(--manzana);
    color: var(--morazul);
    border: none;
}

/*** FOOTER ***/
.footer .footer-item .btn-link {
    line-height: 35px;
    color: gray;
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: var(--manzana) !important;
}

.footer .footer-item p.mb-4 {
    line-height: 30px;
}


/* COPYRIGHT */
.copyright {
    background-color: var(--morazul);
    color: #fff;
}

/** BOTTON START **/
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/** Hero Header **/
.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cart-page-header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

/** CONTACT SECTION **/
.contact {
    margin-top: 15px;
}

.contact .container .bg-light {
    background-color: ghostwhite !important;
}

.text-primary {
    color: var(--morazul) !important;
}

.contact .titlepage {
    text-align: center;
    padding-bottom: 45px;
}

.contact .titlepage p {
    color: var(--morazul);
    font-size: 17px;
    line-height: 29px;
    padding-top: 10px;
}

#request *::placeholder {
    color: grey;
    opacity: 1;
}

.contact .d-flex .fas {
    padding-right: 20px;
}

/*** PAGINACION  ***/
.pagination {
    display: inline-block;
}

.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid var(--bs-secondary);
    margin: 0 4px;
}

.pagination a.active {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
}

.pagination a:hover:not(.active) {
    background-color: var(--bs-primary)
}

.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--bs-secondary) !important;
}

/* TABLA */
table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

table.scrolldown tbody,
table.scrolldown thead {
    display: block;
}

table.scrolldown tbody {
    height: 120px;
    overflow-y: auto;
}

tbody td,
thead th {
    width: 300px;
    padding: 4px;
    border-right: 2px solid white;
}

tbody tr:hover {
    background-color: whitesmoke;
}

thead {
    background-color: var(--morazul);
    color: white;
}

#tableBody .btn {
    color: white !important;
    background-color: var(--morazul);
}

#tableBody .btn:hover {
    background-color: var(--manzana) !important;
    color: var(--morazul) !important;
    font-weight: bold;
}


/* Media Queries */
@media (max-width: 1200px) {
    .container-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480x) {
    .container-card {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 10px;
    }
}