@font-face {
    font-family: "barlow";
    src: url("/fonts/Barlow-SemiBold.ttf");
    font-family: "lato";
    src: url("/fonts/Lato-Regular.ttf");
    font-family: "merriweather";
    src: url("/fonts/Merriweather-Regular.ttf");
}

/*variables de entorno*/
:root {
    --morazul: #0E0223;
    --verde: #0A2E35;
    --manzana: #A1C518;
    --naranja: #F8AB1B;
    --fresa: #E20613;
    --blanco: #fefcfb;
    --manzana-light: #faffe4;
    --morazul-light: #5a577a;
    --logotipo: 'Barlow';
    --titulos: 'Merriweather';
    --parrafos: 'lato';
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--morazul);
    margin: 0px;
    padding: 0px;
}

/* Estilos Globales */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titulos);
}

p,
a {
    font-family: var(--parrafos);
}

html a {
    text-decoration: none;
}

/** BOTONES **/
.custom_dark-btn {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: 145px;
    outline: none;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--morazul) !important;
}

.custom_dark-btn:hover {
    color: var(--morazul);
    background-color: var(--manzana) !important;
    font-weight: bold;
}

/** NAVBAR **/
.container-fluid {
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    font-size: 1.2em;
    color: var(--morazul);
}

.navbar-brand img {
    width: 150px;
}

nav a {
    color: var(--morazul) !important;
    text-decoration: none;
}

nav a:hover {
    background: var(--manzana-light);
}

nav a.active {
    color: var(--verde) !important;
    font-weight: bold !important;
}

.fa-shopping-bag,
.fa-user {
    font-size: 1.5rem !important;
    color: var(--morazul);
}

.fa-shopping-bag:hover,
.fa-user:hover {
    color: var(--manzana);
}

.position-absolute {
    font-size: 0.9rem;
}

/** SLIDER **/
.carousel {
    width: 100%;
    height: 600px;
    position: relative;
}

.slider_section {
    padding: 48px;
    background-color: ghostwhite;
}

.slider_item-box {
    width: 100%;
    height: 420px;
    margin: 20px;
}

.slider_img-box {
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding-right: 40px;
}

.slider_img-box img {
    width: auto;
    height: 85%;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.slider_item-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.slider_item-detail {
    flex: 1;
}

.slider_item-detail h1 {
    font-family: var(--titulos);
    font-weight: bold;
    font-size: 3em;
}

.slider_item-detail p {
    font-size: 1.2em;
    margin: 40px 0;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
    height: 100%;
}

.slider_section .custom_carousel-control .carousel-control-prev-icon {
    position: absolute;
    left: 0px;
    bottom: 210px;
}

.slider_section .custom_carousel-control .carousel-control-next-icon {
    position: absolute;
    right: 0px;
    bottom: 210px;
}

.carousel-indicators li {
    background-color: var(--morazul) !important;
}

.carousel-indicators .active {
    background-color: var(--morazul) !important;
}

/** ABOUT **/
.about {
    padding-top: 90px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_img {
    display: flex;
}

.about_img img {
    max-height: 480px;
    width: auto;
    height: 100%;
    border-radius: 2%;
}

.about .about_img figure {
    margin: 0;
    height: 100%;
}

.about .titlepage {
    position: relative;
    border: var(--manzana) solid 2px;
    border-radius: 10px;
    padding: 40px 40px;
    z-index: 1;
    background: white;
}

.about .titlepage h2 {
    font-weight: bold;
}

.about .titlepage p {
    color: var(--morazul);
    font-size: 1.2em;
    line-height: 30px;
    padding-top: 20px;
}

.about .d-flex {
    margin-top: 24px;
}

/** Lists **/
.list-marked {
	text-align: left;
	list-style-type: none; /* Eliminar viñetas predeterminadas */
}

.list-marked > li {
	text-indent: -25px;
	padding-left: 25px;
}

.list-marked > li::before {
	position: relative;
	display: inline-block;
	left: 0;
	top: 0;
	content: '';
	height: 9px;
	width: 9px;
	margin-right: 16px;
	border-radius: 50%;
	background: #d7d7d7;
}

.list-marked > li + li {
	margin-top: 10px;
}

.list-marked-sm > li {
	text-indent: -15px;
	padding-left: 15px;
}

.list-marked-sm > li::before {
	height: 7px;
	width: 7px;
	margin-right: 8px;
}

.list-marked-secondary > li::before {
	background: var(--manzana);
}

* + .list-marked {
	margin-top: 15px;
}

p + .list-marked {
	margin-top: 10px;
}

.list-0 > li + li {
	margin-top: 0;
}

.list-custom {
	display: inline-block;
	list-style-type: none; /* Eliminar viñetas predeterminadas */
}

p + .list-custom {
	margin-top: 30px;
}

/** PRODUCTS **/
.product {
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: 45px;
    text-align: center;
}

.product .titlepage {
    text-align: center;
    padding-bottom: 45px;
}

.product .titlepage p {
    color: var(--morazul);
    font-size: 1.2em;
    line-height: 25px;
    padding-top: 10px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
}

.card {
    width: calc(25% - 2rem);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: pointer;
    border: 2px solid var(--manzana);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .card {
        width: calc(33.33% - 2rem);
    }
}

@media (max-width: 992px) {
    .card {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}

.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 250px;
    max-height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card img:hover {
    transform: scale(1.2);
}

.card-content {
    overflow: hidden;
}

.btn-container {
    width: 100%;
    margin-top: 10px;
}

.add-to-cart {
    display: block;
    width: 100%;
    text-align: center;
    border: solid 1px var(--morazul) !important;
    color: var(--morazul);
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart:hover {
    background-color: var(--manzana);
    border: solid 2px var(--manzana) !important;
}

.btn-container .fa-shopping-bag {
    color: var(--morazul);
}

.quantity-controls .btn {
    background-color: transparent !important;
    color: var(--morazul);
}

.quantity-controls i:hover {
    color: var(--manzana);
}


/** BLOG **/
#blog {
    padding-top: 45px;
    margin-top: 45px;
}

.blog .container-fluid {
    padding: 0px;
}

.blog .col-md-5,
.blog .col-md-7 {
    display: flex;
    max-height: 450px;
    align-items: stretch;
    /* Asegura que ambos contenedores (imagen y texto) tengan la misma altura */
}

.blog .blog_img {
    width: 100%;
    display: flex;
    align-items: stretch;
    /* El contenedor de la imagen también se estira */
}

.blog .blog_img figure {
    width: 100%;
    height: 100%;
    display: flex;
}

.blog .blog_img figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

.blog .titlepageH {
    text-align: center;
    padding-bottom: 45px;
}

.blog .titlepageH p {
    color: var(--morazul);
    font-size: 1.2em;
    line-height: 30px;
    padding-top: 10px;
}

.blog .max_width {
    text-align: left;
    background: var(--morazul);
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    border-radius: 10px;
}

.blog .titlepage {
    width: 100%;
    height: 100%;
    float: left;
    align-items: stretch;
}

.blog .titlepage h2 {
    color: var(--blanco);
    border-bottom: var(--manzana) solid 1px;
    padding-bottom: 10px;
    float: left;
    clear: both;
}

.blog .titlepage p {
    color: var(--blanco) !important;
    line-height: 30px;
    padding-top: 20px;
    width: 100%;
    display: inline-block;
    padding-bottom: 20px;
}

.blog .titlepage .read_more {
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: var(--morazul);
    border: var(--manzana) 2px solid;
    padding: 8px 40px;
    text-transform: uppercase;
}

.blog .titlepage .read_more:hover {
    background-color: var(--manzana);
    color: var(--morazul);
    font-weight: bold;
    border: none;
}

/* sección blog */
.blog {
    padding: 0;
}

.b-slide-text {
    padding: 48px;
}

.b-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.b-text h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
}

.b-text h6 {
    margin-bottom: 15px;
    color: gray;
}

.b-text h6 span {
    margin-right: 10px;
}

.b-text h6 i {
    margin-right: 10px;
}

.b-text p {
    font-size: 1.2em;
}

.b-text .read-more {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.b-text .read-more:hover {
    text-decoration: underline;
}

/* barra lateral del blog */
.blog-sidebar {
    margin-top: 48px;
}

.blog-sidebar h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
}

.resent-post-single h3 {
    font-size: 1.2em;
    color: #0A2E35;
    font-weight: 600;
    margin-bottom: 5px;
}

.resent-post-single p {
    font-size: 1em;
}

.categorie p {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* paginación */
.pagination {
    padding-bottom: 40px;
}

.pagination a {
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--morazul);
    display: inline-block;
    color: var(--morazul);
}

.pagination a:hover {
    background-color: var(--manzana) !important;
    color: var(--morazul);
}

.pagination a.active {
    background-color: var(--morazul) !important;
    color: white;
}

.pagination a.rounded {
    border-radius: 50%;
}

.disabled-link {
    color: gray;
    pointer-events: none;
    cursor: default;
}

/* BLOG POST */
.blog-post {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.blog-post .container {
    max-width: 1200px;
    margin: 0 auto;
}

.blog-post .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-post .col-md-9 {
    width: 100%;
}

.b-slide-text {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.b-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.b-slide {
    margin-bottom: 20px;
}

.b-text h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
}

.b-text h6 {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.b-text h6 span {
    margin-right: 15px;
}

.b-text h6 i {
    margin-right: 5px;
    color: #999;
}

.b-text p {
    font-size: 16px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px;
}

.b-text ol {
    padding-left: 20px;
}

.b-text ol li {
    margin-bottom: 20px;
}

.b-text ol li strong {
    font-size: 18px;
    color: #333;
}

.b-text ol li p {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.b-text h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #333;
}

/* Responsive */
@media (min-width: 768px) {

    .col-md-5,
    .col-md-7 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-md-5 {
        margin-bottom: 20px;
    }

    .col-md-7 {
        padding-left: 20px;
    }
}

@media (min-width: 992px) {

    .col-md-5,
    .col-md-7 {
        flex: 0 0 auto;
    }

    .col-md-5 {
        width: 40%;
    }

    .col-md-7 {
        width: 60%;
    }
}


/** TESTIMONIOS **/
.clients .carousel {
    width: 100%;
    height: 320px;
    position: relative;
}

.clients .carousel-inner {
    height: 100%;
    position: relative;
}

.clients {
    padding-top: 90px;
    padding-bottom: 70px;
}

.clients .container .carousel-item {
    max-height: 420px;
}

.clients .titlepage {
    text-align: center;
    padding-bottom: 45px;
}

.clients .titlepage p {
    color: var(--morazul);
    font-size: 17px;
    line-height: 29px;
    padding-top: 10px;
}

.clients_box h3 {
    color: var(--verde);
    font-size: 26px;
    line-height: 30px;
    padding-top: 23px;
    font-weight: 600;
}

.clients_box p {
    color: var(--morazul);
    font-size: 17px;
    line-height: 30px;
}

.clients_box {
    border: var(--manzana) solid 2px;
    padding: 40px;
    float: left;
    text-align: left;
    margin-left: 89px;
    border-radius: 10px;
    background-color: white;
}

.clients_box figure {
    margin: 0;
    float: left;
    margin-left: -102px;
    padding-right: 30px;
}

.clients_box figure img {
    border-radius: 10px;
    width: 150px;
}

#myCarousel .carousel-indicators {
    bottom: -70px;
}

#myCarousel .carousel-indicators li {
    width: 20px;
    height: auto;
    border-radius: 20px;
}

#myCarousel .carousel-indicators .active {
    background: gray;
}

#myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
    display: none;
}

/** CONTACT **/
.contact_section {
    background-image: url(../img/orange-dish.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.contact_section form {
    border: 2px solid var(--manzana);
    border-radius: 10px;
    padding: 40px;
    background-color: white;
}

.contact_section input {
    border: none;
    outline: none;
    background-color: var(--manzana-light);
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.contact_section textarea {
    border: none;
    outline: none;
    background-color: var(--manzana-light);
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

.contact_form-container button {
    border-radius: 5px;
    background-color: var(--morazul);
    color: white;
    padding: 8px 40px;
    text-transform: uppercase;
}

.contact_form-container button:hover {
    background-color: var(--manzana);
    color: var(--morazul);
    border: none;
}

/** FOOTER **/
.footer .btn-md-square {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer i {
    font-size: 18px;
    color: whitesmoke;
}

.footer .btn-md-square.rounded-circle {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footer .btn-md-square:hover i {
    color: var(--manzana);
}

.footer .btn-md-square:hover {
    background-color: transparent;
    border-color: var(--manzana);
}

.footer .footer-item {
    color: whitesmoke;
}

.footer .footer-item .btn-link {
    line-height: 35px;
    color: whitesmoke;
    transition: 0.5s;
    outline: none;
    text-decoration: none;
}

.footer .footer-item .btn-link:hover {
    color: var(--manzana) !important;
    font-weight: bold;
}

.footer .footer-item p.mb-4 {
    line-height: 30px;
}

/** COPYRIGHT **/
.copyright {
    background-color: var(--morazul);
    color: white;
}

/** BOTTON START **/
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
    background-color: var(--morazul);
    border: solid 2px var(--manzana) !important;
}

.back-to-top:hover {
    background-color: var(--manzana);
}

/** Breadcrumbs **/
.breadcrumbs-custom {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cart-page-header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.breadcrumbs-custom-title {
    color: white;
    padding-top: 32px;
}

.breadcrumbs-custom-path {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
}

.breadcrumbs-custom-path>* {
    padding-left: 15px;
    padding-right: 15px;
}

.breadcrumbs-custom-path a {
    display: inline;
    vertical-align: middle;
}

.breadcrumbs-custom-path a,
.breadcrumbs-custom-path a:active,
.breadcrumbs-custom-path a:focus {
    color: #ffffff;
}

.breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs-custom-path li::after {
    content: "/";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -8px;
    color: rgba(255, 255, 255, 0.53);
    transform: translate3d(0, -50%, 0);
}

.breadcrumbs-custom-path li:last-child:after {
    display: none;
}

.breadcrumbs-custom-path a:hover {
    color: var(--manzana);
}

.breadcrumbs-custom-path li.active {
    color: rgba(255, 255, 255, 0.53);
}

*+.breadcrumbs-custom-path {
    margin-top: 1px;
}

@media (min-width: 576px) {
    *+.breadcrumbs-custom-path {
        margin-top: 18px;
    }
}

@media (min-width: 1200px) {
    .breadcrumbs-custom {
        padding: 24px 0 24px;
    }
}

/** CONTACT SECTION **/
.contact {
    margin-top: 0px;
}

.contact .container .bg-light {
    background-color: ghostwhite !important;
    border: solid 2px var(--manzana) !important;
}

.text-primary {
    color: var(--morazul) !important;
}

.contact .datos .borde {
    background-color: var(--manzana-light);
}

.contact .titlepage {
    padding-top: 30px;
    text-align: center;
}

.contact .titlepage p {
    color: var(--morazul);
    font-size: 17px;
    line-height: 29px;
    padding-top: 20px;
}

#request *::placeholder {
    color: grey;
    opacity: 1;
}

.contact .d-flex .fas {
    padding-right: 20px;
}

.faq-page {
    margin-top: 70px;
    margin-bottom: 40px;
}

/* TABLA */
table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

table.scrolldown tbody,
table.scrolldown thead {
    display: block;
}

table.scrolldown tbody {
    height: 120px;
    overflow-y: auto;
}

tbody td,
thead th {
    width: 300px;
    padding: 4px;
    border-right: 2px solid white;
}

tbody tr:hover {
    background-color: whitesmoke;
}

thead {
    background-color: var(--morazul);
    color: white;
}

#tableBody .btn {
    color: white !important;
    background-color: var(--morazul);
}

#tableBody .btn:hover {
    background-color: var(--manzana) !important;
    color: var(--morazul) !important;
    font-weight: bold;
}

.message-column {
    max-width: 200px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.message-content {
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/*Formulario Productos*/
.product form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #333;
}

.product input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.product .checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: var(--manzana);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.crear-modal {
    margin-left: 90px;
    margin-bottom: 70px;
    background-color: var(--morazul);
}


/* Media Queries */
@media (max-width: 1200px) {
    .container-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480x) {
    .container-card {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 10px;
    }
}